# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
.poetry/
poetry.lock

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.log
*.temp

# Streamlit cache
.streamlit/

# Environments
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyproject.toml specific files
.mypy_cache/
dmypy.json
.pyre/
.pytype/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
